html, body {
  padding: 0;
  margin: 0;
  font-family: Arial;
  font-size: 1em;
  font-weight: normal;
  background-color: #4e4e4e; }

model {
  display: block; }

button {
  padding: 5px;
  border-radius: 0;
  border: 1px solid #999;
  background-color: #eee; }

button:hover {
  cursor: pointer;
  background-color: #ccc; }

select {
  padding: 5px;
  border: 1px solid #aaa; }

select:hover {
  border: 1px solid #000; }

input {
  width: 100%;
  padding: 5px;
  border: 1px solid #eee; }

input:hover {
  border: 1px solid #000; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.language-buttons {
  position: absolute;
  float: left;
  margin: 10px; }

.header {
  height: 140px;
  background-color: #aaa; }

.user {
  position: absolute;
  padding: 10px;
  width: 150px;
  right: 0; }
  .user .password {
    margin-bottom: 10px; }
  .user .login {
    width: 100%; }

.cart {
  display: inline-block;
  position: absolute;
  right: 180px;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #fff; }

.cart:hover {
  cursor: pointer;
  background-color: #eee; }

.content {
  margin-top: 1%; }

.search-menu {
  margin-left: 1%;
  width: 19%;
  float: left;
  background-color: #bbb;
  box-shadow: 0 0 2px 0 #000; }

.search-panel {
  padding: 20px; }

.search-order {
  margin: 0 1%;
  padding: 10px;
  background-color: #f4fff1;
  box-shadow: 0px 0px 2px 0px #188003; }
  .search-order button {
    border: none;
    padding: 0;
    margin-right: 1%;
    background-color: inherit; }

.search-panel .add-car-criteria {
  width: 100%; }
.search-panel .price {
  margin-top: 10%;
  width: 50%;
  float: left; }
.search-panel .search-car-element element {
  margin: 0 3px 3px 0;
  padding: 3px;
  display: inline-block;
  border: 1px solid #9F9F9F;
  background-color: #fff;
  box-shadow: 1px 0px 4px -1px #13628D; }
.search-panel .search-car-element del {
  margin-left: 10px;
  text-decoration: none; }
.search-panel .search-car-element del:hover {
  cursor: pointer;
  color: red; }
.search-panel .type-car {
  margin-top: 10px; }
  .search-panel .type-car select {
    width: 100%; }
.search-panel .search-button {
  width: 100%;
  margin-top: 10px; }

.cars {
  width: 80%;
  float: right; }
  .cars element {
    position: relative;
    display: block;
    margin: 1%;
    padding: 2%;
    height: 150px;
    box-shadow: 1px 0px 3px -1px #000;
    background-color: #fff; }
    .cars element .descriptions {
      position: absolute;
      left: 23%;
      display: inline-block;
      width: 20%;
      height: 100%; }
    .cars element .price-desription {
      margin-top: 10px;
      font-weight: bolder;
      color: #12563A; }
    .cars element id {
      display: none; }
    .cars element brand {
      float: right;
      width: 56%; }
    .cars element model {
      float: right;
      width: 56%; }
    .cars element color {
      float: right;
      width: 56%; }
    .cars element power {
      float: right;
      width: 56%; }
    .cars element speed {
      float: right;
      width: 56%; }
    .cars element year_of_manufacture {
      float: right;
      width: 56%; }
    .cars element price {
      margin-top: 10px;
      float: right;
      width: 56%;
      font-weight: bolder; }
    .cars element images {
      top: 0;
      height: 100%;
      max-width: 20%; }
    .cars element img {
      top: 0;
      height: 100%;
      max-width: 20%; }
    .cars element .add {
      position: absolute;
      right: 1%;
      bottom: 5%; }
    .cars element .del {
      position: absolute;
      right: 1%;
      top: 5%; }
    .cars element .edit {
      position: absolute;
      right: 1%;
      bottom: 5%; }

.pages {
  padding: 1%;
  margin: 1%;
  text-align: center;
  background-color: #000;
  color: #fff;
  box-shadow: 0 0 2px 0 #000; }
  .pages element {
    position: relative;
    height: auto;
    width: auto;
    display: inline-block;
    padding: 1%;
    margin: 0;
    background-color: #1D092C; }
  .pages element:hover {
    cursor: pointer;
    background-color: #444; }

.remove {
  position: absolute;
  display: inline-block;
  float: right;
  right: 15px; }

.remove:hover {
  cursor: pointer;
  font-weight: bolder;
  color: red; }

id_order {
  display: none; }

.order-button {
  position: absolute;
  margin: 15px; }

.no-anim {
  animation: none; }

.error {
  animation: error_animation 0.2s; }

@keyframes error_animation {
  0% {
    outline: 5px solid red;
    background-color: red; }
  100% {
    outline: 1px solid red; } }
.new-car-wrapper {
  width: 80%;
  float: right;
  display: none; }

.new-car {
  margin: 0 1%;
  padding: 2%;
  box-shadow: 1px 0px 3px -1px #000;
  background-color: #fff; }
  .new-car .add {
    margin-top: 1%; }
  .new-car .cancel {
    margin-top: 1%; }

/*# sourceMappingURL=style.css.map */
