html, body {
  padding: 0;
  margin: 0;
  font-family: Arial;
  font-size: 1em;
  font-weight: normal;
  background-color: #4e4e4e; }

model {
  display: block; }

button {
  padding: 5px;
  border-radius: 0;
  border: 1px solid #999;
  background-color: #eee; }

button:hover {
  cursor: pointer;
  background-color: #ccc; }

select {
  padding: 5px;
  border: 1px solid #aaa; }

select:hover {
  border: 1px solid #000; }

input {
  width: 100%;
  padding: 5px;
  border: 1px solid #eee; }

input:hover {
  border: 1px solid #000; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.language-buttons {
  position: absolute;
  float: left;
  margin: 10px; }

.header {
  height: 140px;
  background-color: #aaa; }

.user {
  position: absolute;
  padding: 10px;
  width: 150px;
  right: 0; }
  .user .password {
    margin-bottom: 10px; }
  .user .login {
    width: 100%; }

.cart {
  display: inline-block;
  position: absolute;
  right: 180px;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #fff; }

.cart:hover {
  cursor: pointer;
  background-color: #eee; }

.content {
  margin-top: 1%; }

.search-menu {
  margin-left: 1%;
  width: 19%;
  float: left;
  background-color: #bbb;
  box-shadow: 0 0 2px 0 #000; }

.search-panel {
  padding: 20px; }

.search-order {
  margin: 0 1%;
  padding: 10px;
  background-color: #f4fff1;
  box-shadow: 0px 0px 2px 0px #188003; }
  .search-order span {
    margin-right: 1%;
    color: #aaa; }
  .search-order button {
    border: none;
    padding: 0;
    margin-right: 1%;
    background-color: inherit;
    color: #000; }

.search-panel .divider {
  margin-top: 20px; }
.search-panel selected_cars {
  width: 100%;
  display: block; }
.search-panel .add-car-criteria {
  width: 100%; }
.search-panel select_brand select {
  width: 100%; }
.search-panel select_model select {
  width: 100%; }
.search-panel select_color select {
  width: 100%; }
.search-panel selected_colors color {
  display: block;
  padding: 1%;
  margin-bottom: 5px;
  border: 1px solid #9F9F9F;
  background-color: #fff;
  box-shadow: 1px 0px 4px -1px #13628D; }
.search-panel selected_colors del {
  display: inline-block;
  text-decoration: none;
  float: right; }
.search-panel selected_colors del:hover {
  cursor: pointer;
  color: red; }
.search-panel .price {
  width: 50%;
  float: left; }
.search-panel car {
  margin: 0 3px 3px 0;
  padding: 3px;
  display: block;
  border: 1px solid #9F9F9F;
  background-color: #fff;
  box-shadow: 1px 0px 4px -1px #13628D; }
  .search-panel car brand {
    display: inline-block; }
  .search-panel car model {
    margin-left: 3px;
    display: inline-block; }
  .search-panel car del {
    float: right;
    text-decoration: none; }
  .search-panel car del:hover {
    cursor: pointer;
    color: red; }
.search-panel .type-car select {
  width: 100%; }
.search-panel .search-button {
  width: 100%;
  margin-top: 50px; }

.cars {
  width: 80%;
  float: right; }

cars element {
  display: block; }
cars car {
  position: relative;
  display: block;
  margin: 1%;
  padding: 2%;
  height: 150px;
  box-shadow: 1px 0px 3px -1px #000;
  background-color: #fff; }
  cars car .descriptions {
    position: absolute;
    left: 23%;
    display: inline-block;
    width: 20%;
    height: 100%; }
  cars car .price-desription {
    margin-top: 10px;
    font-weight: bolder;
    color: #12563A; }
  cars car id {
    display: none; }
  cars car brand {
    float: right;
    width: 56%; }
  cars car model {
    float: right;
    width: 56%; }
  cars car color {
    float: right;
    width: 56%; }
  cars car power {
    float: right;
    width: 56%; }
  cars car speed {
    float: right;
    width: 56%; }
  cars car year_of_manufacture {
    float: right;
    width: 56%; }
  cars car price {
    margin-top: 10px;
    float: right;
    width: 56%;
    font-weight: bolder; }
  cars car images {
    top: 0;
    height: 100%;
    max-width: 20%; }
  cars car img {
    top: 0;
    height: 100%;
    max-width: 20%; }
  cars car .add {
    position: absolute;
    right: 1%;
    bottom: 5%; }
  cars car .del {
    position: absolute;
    right: 1%;
    top: 5%; }
  cars car .edit {
    position: absolute;
    right: 1%;
    bottom: 5%; }

.pages {
  padding: 1%;
  margin: 1%;
  text-align: center;
  background-color: #000;
  color: #fff;
  box-shadow: 0 0 2px 0 #000; }
  .pages span {
    position: relative;
    height: auto;
    width: auto;
    display: inline-block;
    padding: 1%;
    margin: 0;
    background-color: #1D092C; }
  .pages span:hover {
    cursor: pointer;
    background-color: #444; }
  .pages .count {
    margin-top: 2%;
    padding: 1%; }

.remove {
  position: absolute;
  display: inline-block;
  float: right;
  right: 15px; }

.remove:hover {
  cursor: pointer;
  font-weight: bolder;
  color: red; }

id_order {
  display: none; }

.order-button {
  position: absolute;
  margin: 15px; }

.no-anim {
  animation: none; }

.error {
  animation: error_animation 0.2s; }

.show {
  animation: show_animation 0.2s; }

@keyframes error_animation {
  0% {
    outline: 5px solid red;
    background-color: red; }
  100% {
    outline: 1px solid red; } }
@keyframes show_animation {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }
.new-car-wrapper {
  width: 80%;
  float: right;
  display: none; }

.new-car {
  margin: 0 1%;
  padding: 2%;
  box-shadow: 1px 0px 3px -1px #000;
  background-color: #fff; }
  .new-car .add {
    margin-top: 1%; }
  .new-car .cancel {
    margin-top: 1%; }

/*# sourceMappingURL=style.css.map */
