.cars
	width:      80%
	float:      right

cars

	element
		display:    block

	car
		position:          relative
		display:           block
		margin:            1%
		padding:           2%
		height:            150px
		box-shadow:        1px 0px 5px -1px #000
		border-radius:     3px
		background-color:  #fff

		.descriptions
			position: absolute
			left:     23%
			display:  inline-block
			width:    20%
			height:   100%

		.price-desription
			margin-top:   10px
			font-weight:  bolder
			color:        #12563A

		id
			display: none

		name
			display: block

		brand
			display:   inline-block
			font-size: 20pt
			color:     #1c344d

		model
			margin-left: 5px
			display:     inline-block
			font-size:   20pt
			color:       #1c344d

		descriptions
			display:    block
			margin-top: 30px
			font-size:  10pt

		color
			display: inline-block

		power
			display: inline-block

		speed
			display: inline-block

		year_of_manufacture
			display: inline-block

		price
			position:     absolute
			top:          0
			right:        0
			margin-top:   10px
			margin-right: 10px
			font-weight:  bolder
			font-size:    15pt
			color:        #676767

		images
			top:        0
			height:     100%
			max-width:  20%

		img
			cursor:       pointer
			margin-right: 2%
			float:        left
			top:          0
			height:       100%
			min-width:    150px

		.add
			position: absolute
			right:    1%
			bottom:   5%

		.del
			position: absolute
			right:    1%
			top:      5%

		.edit
			position: absolute
			right:    1%
			bottom:   5%

.pages
	padding:          1%
	margin:           1%
	text-align:       center
	background-color: #6f6f6f
	color:            #fff

	span
		position:         relative
		height:           auto
		width:            auto
		display:          inline-block
		padding:          1%
		margin:           0 1px

	span:hover
		cursor:           pointer
		background-color: #444

	.selected-page
		background-color: #222

	.selected-page:hover
		background-color: #444

	.count
		margin-top: 2%
		padding:    1%