.remove
	position: absolute
	display:  inline-block
	float:    right
	right:    15px

.remove:hover
	cursor:      pointer
	font-weight: bolder
	color:       red

id_order
	display: none

.order-button
	float:    right
	margin:   15px

currency_exchange_rate
	margin-bottom: 50px
	display: block
	width:   100%
	
	block
		margin-bottom: 1px
		height:    15px
		display:   block
		width:     100%
		border:    1px solid #000
		font-size: 12px

		name
			width: 50%
			float: left

		rate
			width: 50%
			float: right