@import reset

.language-buttons
	position: absolute
	float:    left
	margin:   10px

.header
	height:            140px
	background-color:  #aaa

.user
	position: absolute
	padding:  10px
	width:    150px
	right:    0

	.password
		margin-bottom:  10px

	.login
		width:  100%

.cart
	display:           inline-block
	position:          absolute
	right:             180px
	margin-top:        10px
	padding:           10px 20px
	background-color:  #fff

.cart:hover
	cursor:  pointer
	background-color:  #eee

@import content
@import cart
@import animations
@import new car