@import reset

.language-buttons
	position: absolute
	float:    left
	margin:   10px

.header
	height: 140px

.not_authenticated_user
	position: absolute
	padding:  10px
	width:    150px
	right:    0

	.password
		margin-bottom:  10px

	.login
		width:  100%

.authenticated_user
	position: absolute
	padding:  10px
	width:    150px
	right:    0

	.user
		width: 100%

	.logout
		width:  100%

.cart
	display:           inline-block
	position:          absolute
	right:             180px
	margin-top:        10px
	padding:           10px 20px
	background-color:  #fff

.cart:hover
	cursor:  pointer
	background-color:  #eee

@import images_viewer
@import content
@import cart
@import animations
@import new car
@import admin viewer
@import admin menu