.search-menu
	margin-left:       1%
	width:             19%
	float:             left
	background-color:  #bbb
	box-shadow:        0 0 2px 0 #000

.search-panel
	padding:    20px

.search-order
	margin:           0 1%
	padding:          10px
	background-color: #f4fff1
	box-shadow:       0px 0px 2px 0px #188003

	button
		border:           none
		padding:          0
		margin-right:     1%
		background-color: inherit

.search-panel
	.add-car-criteria
		width: 100%

	.price
		margin-top:  10%
		width:       50%
		float:       left

	.search-car-element element
		margin:           0 3px 3px 0
		padding:          3px
		display:          inline-block
		border:           1px solid #9F9F9F
		background-color: #fff
		box-shadow:       1px 0px 4px -1px #13628D

	.search-car-element
		del
			margin-left:     10px
			text-decoration: none

		del:hover
			cursor: pointer
			color: red

	.type-car
		margin-top:  10px

		select
			width:  100%

	.search-button
		width:       100%
		margin-top:  10px